@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.navback{
background-color: #1C2E4D;
height: 75px;
position: relative;
}

.search-button{
  height: 50px;
  width: 50px;
  z-index: 1;
  position: absolute;
  top: calc(50% - 25px);
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
  background-color: #fff !important;
  border-radius: 5px;
}

.search-input{
  height: 50px;
  width: 50px;
  top: calc(50% - 25px);
  position: absolute;
  background-color: #fff !important;
  color: #1C2E4D;
  z-index: 0;
  border: 0;
  outline: none;
  font-size: 28px;
  padding: 15px;
  transition: width 0.3s ease;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Quicksand', sans-serif !important;
  border-radius: 5px;
  
}

.search-button.active {
  transform: translateX(-45px);
  border-radius: 5px 0px 0px 0px;
  outline: none;
}

.search-input.active {
  width: 200px !important;
  outline: none;
  border-radius: 0px 5px 0px 5px;
  transition: width 0.6s ease;
  background-color: #fff !important;
}


.logo{
  margin-left: calc(50% - 25px) !important;
}

.gitlogo{
  margin-top: 12.5px !important;
}

.mybutton{
  width: 60px;
  height: 30px;
  margin-top:5px;
  padding: 0;
  border-radius: 55px;
  box-shadow: 0px;
  border: 0;
  position: relative;
  background-color: #1C2E4D;
}

.mybutton:active{
  box-shadow: 0px;
  border: 0;
  
}
.flag-tr{
  margin-left:12px;
  margin-top:-3px;
  
  
}
.flag-en{
  margin-top:-3px;
  margin-left:-24px;
}

.flags{
  z-index:2;
}

.button-back{
  position:absolute;
  top: calc(50% - 12px);
  margin-left: 3px;
  z-index:1;
  background-color: #1C2E4D;
  width: 54px;
  height:24px;
  border-radius: 50px;
  content: '';
  border: 2px #FFF solid;
}

.button-slider{
  position:absolute;
  top: calc(50% - 10px);
  margin-left: 4px;
  z-index:3;
  background-color: #FFF;
  order: 2px #FFF solid;
  width: 25px;
  height:20px;
  border-radius: 50px;
  
  content: '';
  transition: transform 0.5s ease;
}

.button-slider.active{
  transform: translateX(27px);
}

.cities{
  width: 245px;
  display:none;
  position: absolute;
  top: calc(50% + 25px);
  margin-left: -45px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}
.city{
  width: 245px;
  height: 50px;
  font-family: 'Quicksand', sans-serif !important;
  font-size: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  text-decoration: none;
  color:#111
}

.city:hover{
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 0px 0px 5px 5px;
  color:#1C2E4D
}

.city > .col-3{
  background-color: #1C2E4D;
}

.cities.active{
  display: block;
}
