@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.navback{
background-color: #1C2E4D;
height: 75px;
position: relative;
}

.search-button{
  height: 50px;
  width: 50px;
  z-index: 1;
  position: absolute;
  top: calc(50% - 25px);
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease;
  background-color: #fff;
  border-radius: 5px;
}

.search-input{
  height: 50px;
  width: 50px;
  top: calc(50% - 25px);
  position: absolute;
  background-color: #fff;
  color: #1C2E4D;
  z-index: 0;
  border: 0;
  outline: none;
  font-size: 28px;
  padding: 15px;
  transition: width 0.3s ease;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Quicksand', sans-serif !important;
  border-radius: 5px;
}

.dark-mode-1{
  background-color: #1C2E4D !important;
  color:#566782;
}

.dark-mode-2{
  background-color: #121F33!important;
}

.dark-mode-3{
  background-color: #394557!important;
}

.dark-mode-4{
  background-color: #566782!important;
}

.search-button.active {
  transform: translateX(-45px);
  border-radius: 5px 0px 0px 0px;
  outline: none;
}

.search-input.active {
  width: 200px !important;
  outline: none;
  border-radius: 0px 5px 0px 5px;
  transition: width 0.6s ease;
  background-color: #fff;
}


.logo{
  margin-left: calc(50% - 25px) !important;
}

.gitlogo{
  margin-top: 12.5px !important;
}

.loading{
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  
}

.loading-icon{
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
}

.mybutton{
  width: 60px;
  height: 30px;
  margin-top:5px;
  padding: 0;
  border-radius: 55px;
  box-shadow: 0px;
  border: 0;
  position: relative;
  background-color: #1C2E4D;
}

.mybutton:active{
  box-shadow: 0px;
  border: 0;
  
}
.flag-tr{
  margin-left:12px;
  margin-top:-3px;
  
  
}
.flag-en{
  margin-top:-3px;
  margin-left:-24px;
}

.flags{
  z-index:2;
}

.button-back{
  position:absolute;
  top: calc(50% - 12px);
  margin-left: 3px;
  z-index:1;
  background-color: #1C2E4D;
  width: 54px;
  height:24px;
  border-radius: 50px;
  content: '';
  border: 2px #FFF solid;
}

.button-back-dark{
  border: 2px #394557 solid;
}

.button-slider{
  position:absolute;
  top: calc(50% - 10px);
  margin-left: 4px;
  z-index:3;
  background-color: #FFF;
  width: 25px;
  height:20px;
  border-radius: 50px;
  
  content: '';
  transition: transform 0.5s ease;
}

.button-slider.active{
  transform: translateX(27px);
}

.cities{
  width: 245px;
  display:none;
  position: absolute;
  top: calc(50% + 25px);
  margin-left: -45px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  z-index: 99999;
}
.city{
  width: 245px;
  height: 50px;
  font-family: 'Quicksand', sans-serif !important;
  font-size: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  text-decoration: none;
  color:#111;
  background-color: white
}

.city:hover{
  width: 245px;
  height: 50px;
  background-color: whitesmoke !important;
  cursor: pointer;
  text-decoration: none;
  color:#1C2E4D !important
}

.city > .col-3{
  background-color: #1C2E4D;
}

.cities.active{
  display: block;
}

.current-weather{
  background-color: #1C2E4D;
  color: #FFF;
  padding: 15px;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif !important;
}

.current-weather-main{
  z-index: 3;
}

.current-weather-time{
  color: #8CA8D5;
  font-size: 22px;
}

.current-weather-text{
  font-weight: 500;
  font-size:22px;
}

.temp-text{
  margin-top: 0px !important;
  font-weight: 300;
  font-size: 75px;
}

.degree{
  font-size: 40px;
  top: -25px !important;
  margin-left: 10px;
}

.icon{
  margin-top: 0px !important;
}

.weather-main{
  font-size: 22px !important;
  margin-top: 20px;
  text-transform: capitalize;
  z-index: 1;
}

.values{
  margin-top: -12px;
  
}

.title{
  font-weight: 600;
}

.day-container{
  background-color:  #375D99;
  color: #FFF;
  padding: 15px;
  border-radius: 0px 0px 15px 15px;
  font-family: 'Quicksand', sans-serif !important;
  height:250px;
  position:relative;
}

.footer{
  height: 50px;
  width: 100%;
  background-color: #1C2E4D;
  text-align: center!important;
  color: white;
  padding: 12.5px;
  display: block;
  margin-top: 96px;
}

.footer>a:hover{
  color: #375D99!important;
}

.day{
  background-color: #375D99!important;
  border-radius: 15px 15px 0px 0px;
}

.day-max{
  font-size: 25px;
  margin-left: -25px;
}


.day-date{
  color: #FFF;
  padding: 15px;
  font-family: 'Quicksand', sans-serif !important;
  font-weight:300px;
  font-size:22px;
}

.footer-text{
  color:#8CA8D5
}

.day-min-border{
  border-radius: 0px 0px 15px 0px;
}
.day-max-border{
  border-radius: 0px 0px 0px 15px;
}

.day-temp-container{
  position:absolute;
  bottom: -5px;
  font-size: 20px;
  text-align: center;
  background-color: #375D99;
  width:100%;
  left:12px;
  border-radius: 0px 0px 15px 15px;
}
.day-temp-text{
  margin-top: 15px !important;
  margin-left: 5px !important;
  font-weight: 200px;
  font-size: 30px;
 
}

.day-icon{
  border-radius: 15px;
}

.day-degree{
  font-size: 15px;
  top: -10px !important;
  margin-left: 1px;
  
}

.max-min-container{
  position:absolute;
  bottom: 0px;
}

@media only screen and (min-width: 768px) {
  
  .current-weather-other{
    
    padding-top: 5rem!important;
    
  }
}

@media only screen and (max-width: 768px) {
  
  .day-desc{
    text-align: left!important;
  }
  
}

@media only screen and (min-width: 960px){
  .current-weather-boxes{
    margin-top: 1rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .current-weather{
    border-radius: 0px;
  }
  
}
@media only screen and (min-width: 768px) {
  
  .day-desc{
    text-align: center!important;
  }
}